# First Class Function

In computer science, a programming language is said to have first-class functions if it treats functions as first-class citizens.

 This means the language supports passing functions as arguments to other functions, returning them as the values from other functions, and assigning them to variables or storing them in data structures.

 Some programming language theorists require support for anonymous functions (function literals) as well.

## first-class citizen

In a given programming language design, a first-class citizen is an entity which supports all the operations generally available to other entities. These operations typically include being passed as an argument, returned from a function, and assigned to a variable.

In simple words treating functions similar to other objects such as variable

# Assigning function to a variable or Function Aliasing

In [1]:
def squares(x):
    return x**2

In [2]:
x = squares(5)
print(squares)
print(x)

<function squares at 0x0000026497858C20>
25

-  Calling the function and storing the functions output to the variable x

In [3]:
x = squares(5) 
                  # Calling the function and storing the functions output to the variable x
print(x)

25

Assigning a function to a variable

In [4]:
x = squares    

print(squares)   
print(x)

<function squares at 0x0000026497858C20>
<function squares at 0x0000026497858C20>

So above code is the one of the the aspects of what it means to be a first class function

Now we can treate variable x as a function

In [5]:
x(5)

25

# We can pass Function as a argument to another function

#### If a function accepts a function as a argument or returns function as their result function thats what we called Higher Order function

- filter(func,iterable)
- map(func,iterable)
- reduce(func,iterable)

In [6]:
def square(x):
    return x**2

In [7]:
def cubes(x):
    return x**3

- The below function works similar to builtin map function

In [8]:
def my_map(func,arg_list):
    
    result = []
    
    for i in arg_list:
        result.append(func(i))
        
    return result

In [9]:
squares= my_map(square,[1,2,3,4,5,6,7,8,9])

In [10]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

- Above function similar to below map()

In [11]:
list(map(square,[1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

- we can pass any function as a arguments to our custom my_map function

 - In below cell we are passed cubes function as a argument to my_map function()

In [12]:
my_map(cubes,[1,2,3,4,5,6,7,8,9])

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [13]:
def add(x,y):
    return x+y

In [14]:
def sum_of_square(x,y,func):
    print(func,type(func))

In [15]:
def sum_of_square(x,y,func):
    s=func(x,y) # add(x,y)
    return s**2

In [16]:
sum_of_square(5,6,add)

121

In [17]:
def consonants(text):
    
    result = ''
    
    for i in text:
        if i.isalpha():
            if i not in "AEIOUaeiou":
                result +=i
                
    return result

In [18]:
text = "India is my country@123"

In [19]:
consonants(text)

'ndsmycntry'

In [20]:
def consonants_upper(text,func):
    return func(text).upper()

In [21]:
consonants_upper(text,consonants)

'NDSMYCNTRY'

In [22]:
list(consonants_upper(text,consonants))

['N', 'D', 'S', 'M', 'Y', 'C', 'N', 'T', 'R', 'Y']

In [23]:
filter(lambda x:x not in 'AEIOUaeiou' and x.isalpha(),text)

In [24]:
print(list(filter(consonants,text)))

['n', 'd', 's', 'm', 'y', 'c', 'n', 't', 'r', 'y']

In [25]:
def nums():
    return [i for i in range(1,11)]

In [26]:
nums()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
def cubes(func):
    lst = nums()
    return list(map(lambda x:x**3,lst))

In [28]:
cubes(nums)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [29]:
def squares(func):
    lst = nums()
    return list(map(lambda x:x**2,lst))

In [30]:
squares(nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [32]:
def even(x):
    if x%2==0:
        return True
    else:
        return False

In [33]:
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [34]:
def even_nums(func):
    lst = nums()
    return list(filter(lambda x:x%2==0,lst))

In [35]:
even_nums(nums)

[2, 4, 6, 8, 10]

In [36]:
def even_nums(func):
    lst = nums()
    return list(filter(even,lst))

In [37]:
even_nums(nums)

[2, 4, 6, 8, 10]

# Return a function from another function (A function may return a function)

In [38]:
def logger(msg):
    
    def log_message():
        print('Log:',msg)
        
    return log_message

In [39]:
log_hi = logger('Hi!')

Here log_hi = log_message because logger returns log_message

In [40]:
log_hi()

Log: Hi!

In [41]:
def html_tag(tag):

    def wrap_text(msg):
        print('<{0}>{1}</{0}>'.format(tag, msg))

    return wrap_text

In [42]:
print_h1 = html_tag('h1')
print_h1('Test Headline!')
print_h1('Another Headline!')

<h1>Test Headline!</h1>
<h1>Another Headline!</h1>

In [43]:
def outer():
    print('I am the outer function')
    
    def inner():
        print('I am the inner function')
        
    return inner

In [44]:
x = outer()

I am the outer function

In [45]:
print(x)

<function outer.<locals>.inner at 0x00000264978BD3A0>

In [46]:
x()

I am the inner function

In [47]:
def outer():
    print('I am Outer')
    return 5

In [48]:
x = outer()

I am Outer

In [49]:
print(x)

5

In [50]:
def degree():
    print('I am a degree program')
    
    def semester():
        print('I am a particular semester')
        
    print(semester,type(semester))

In [51]:
degree()

I am a degree program
<function degree.<locals>.semester at 0x00000264978BE2A0> <class 'function'>

In [52]:
def degree():
    print('I am a degree program')
    
    def semester():
        print('I am a particular semester')
        
    return semester

In [53]:
res=degree()

I am a degree program

In [54]:
res

In [55]:
res()

I am a particular semester

In [56]:
def outer():
    
    def inner():
        return 'Hello'
    return inner()

In [57]:
x=outer()
print(x)

Hello

In [58]:
def outer():
    
    def inner():
        print ('Hello')
    return inner()

In [59]:
x=outer()
print(x)

Hello
None

In [60]:
def outer():
    
    def inner():
        print('Hello')
    return inner

In [61]:
x=outer()
print(x)

<function outer.<locals>.inner at 0x00000264978BF9C0>

In [62]:
x()

Hello

#### Function Properties

- A function can be assigned to a variable (Function aliasing)
- A function may be defined inside another function.
- A function may be called inside another function.
- A function can be passed as an argument to another function.
- A function may return a function.

-- A function may be defined inside another function

In [63]:
def abc():
    print('I am the abc function')
    
    def jkl():
        print('I am jkl function')

In [64]:
jkl()

NameError: name 'jkl' is not defined

In [65]:
print(dir())

['In', 'Out', '_', '_10', '_11', '_12', '_16', '_19', '_21', '_22', '_23', '_26', '_28', '_30', '_33', '_35', '_37', '_5', '_54', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'abc', 'add', 'consonants', 'consonants_upper', 'cubes', 'degree', 'even', 'even_nums', 'exit', 'get_ipython', 'html_tag', 'log_hi', 'logger', 'lst', 'my_map', 'nums', 'open', 'outer', 'print_h1', 'quit', 'res', 'square', 'squares', 'sum_of_square', 'text', 'x']

In [66]:
abc()

I am the abc function

In [67]:
def abc():
    print('I am the abc function')
    
    def jkl():
        print('I am jkl function')
        
    jkl()

In [68]:
abc()

I am the abc function
I am jkl function