In computer programming, string interpolation (or variable interpolation, variable substitution, or variable expansion) is the process of evaluating a string literal containing one or more placeholders, yielding a result in which the placeholders are replaced with their corresponding values.

It is a form of simple template processing[1] or, in formal terms, a form of quasi-quotation (or logic substitution interpretation).

The placeholder may be a variable name, or in some languages an arbitrary expression, in either case evaluated in the current context.

In [1]:
name = "Bharath"
age = 22

greeting = "My name is" + name + "and I am" + age

TypeError: can only concatenate str (not "int") to str

In [4]:
name = "Bharath"
age = 22

greeting = "My name is" + name + "and I am" + str(age) + "years old"

In [5]:
print(greeting)

My name isBharathand I am22years old

- You can see now that my spacing is off and this is a common problem str concatenation

- To overcome this we could do

In [8]:
name = "Bharath"
age = 22

greeting = "My name is " + name + " and I am " + str(age) + " years old"

In [9]:
print(greeting)

My name is Bharath and I am 22 years old

Str interpolation is just using place holders {} within your string and then replacing those placeholders with the values at later time

In [10]:
name = "Bharath"
age = 22

greeting = "My name is {} and I am {} years old".format(name,age)

In [11]:
print(greeting)

My name is Bharath and I am 22 years old

In [13]:
name = "Bharath"
age = 22

greeting = "I am {age} years old and my name is {name}".format(name=name,age=age)

In [14]:
print(greeting)

I am 22 years old and my name is Bharath